#arena.mobile:not(.chess) .player[data-position="0"]>.equips>.equip5 {
	border-radius: 4px;
}

#arena.mobile:not(.chess) .player[data-position="0"]>.equips>.equip5>.image {
	height: 100%;
	left: 0;
	top: 0;
	width: 100%;
}

#arena.mobile:not(.chess) .player[data-position="0"]>.equips>.equip5>.info {
	display: block;
	right: 3px;
	top: 3px;
	transform: scale(0.43) !important;
	transform-origin: right top;
}

#arena.mobile:not(.chess) .player[data-position="0"]>.equips>.equip5>.name {
	display: block;
	left: 2px;
	top: 3px;
	transform: scale(0.43) !important;
	transform-origin: left top;
}

#arena.mobile:not(.chess) .player[data-position="0"]>.equips>.equip5>.name.long {
	top: 2px;
}

#arena:not(.chess) .player[data-position="0"]>.equips>.equip5>.image {
	background-position: -4px -4px;
}

.card .markcount {
	background: #0078D7;
	box-shadow: rgba(0, 0, 0, 0.8) 0 0 0 1px, rgba(0, 0, 0, 0.2) 0 3px 10px;
	color: white;
}

.card:not(*:empty),
.cardbg {
	background: url("image/avn_metro.webp");
	background-size: 100% 100% !important;
	color: black;
}

.card:not(*:empty),
.cardbg {
	text-shadow: none;
}

.woodbg .menubutton.large {
	background: #0078D7 !important;
	color: white;
}