.card:empty,
.card.infohidden {
	background: url(image/avn_metro.webp);
	background-size: 100% 100%;
}

.card.infohidden:not(.infoflip) {
	background: url(image/avn_metro2.webp);
	background-size: 100% 100%;
}